@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-family-heading);
}

:root {
  /* Litir */
  --color-grey: #333;
  --color-font-grey: #2e2e2e;
  --color-font-white: #ffffff;
  /* font */
  --font-family-base: "Noto Sans Display", Helvetica, Arial, sans-serif;
  --font-family-heading: "Lora", Georgia, serif;
}



.header {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: stretch;
  background-color: #2e2e2e; 
  margin-bottom: 50px;
}

.header .header-left a { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    text-decoration: none;
    color: white;
}
.header-right {
  padding: 1rem;
}

.header-right .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content:baseline;
    
}

.header-right .nav-links a {
    text-decoration: none;
    color: white;
    font-family:;
    margin-bottom: 10px;
    font-family: var(--font-family-base);
}

/** hér eru öll box en get skipt í fleiri files, bara vildi ekki gera það strax**/
#product-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#category-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}


/** HELVÍTIS BOX**/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

/*box-product*/

.box-product img {
  min-width: 100%;
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  object-position: center;
}

.box-product h3 {
  font-family: var(--font-family-base);
  padding-bottom: 2px;
}

.box-product p {
  font-family: var(--font-family-base);
  padding: 2px;
}
.box-product a{
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: var(--font-family-base);
  color: var(--color-font-white);
  background-color: var(--color-grey);
}

.box-product a:hover {
  background-color: #555555;
  color: white;
}

/** BOX-CATEGORIES**/
.box-cat {
  border: 1px solid var(--color-grey);
  text-align: center;
  display: grid;
  border-radius: 2px;
}

.box-cat a {
  text-decoration: none;
  padding: 2rem;
  font-size: 30px;
  font-family: var(--font-family-base);
  color: var(--color-font-grey);
}

.box-cat a:hover {
  color: black;
}

.box-cat h2 {
  font-size: 16px;
  color: var(--color-font-grey);
  font-family: var(--font-family-heading);
}

/** VARA **/
.productBlock {
  border: 2px solid red; 
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productBlock img {
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  object-position: center;
}

.productDesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.productDesc h3 {
  margin: 0;
  font-size: 28px;
  color: #333;
  font-family: var(--font-family-heading);
}
.productDesc p {
  flex:1;
  margin-top: 5px;
  color: black;
  font-size:16px;
  font-family: var(--font-family-base);
  line-height: 1.5rem;
}

.productTags {
  flex:1;
  margin-top: 5px;
  color: red;
  font-size:16px;
}

.content {
  padding: 2rem;
}

.content h2 {
  font-size: 30px;
  color: var(--color-font-grey);
  padding-bottom: 1.5rem;
}


/** SKOÐA FLOKKA-BUTTON **/
.buttonDiv {
  padding: 2rem 2rem;
}

.buttonDiv a {
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: #2e2e2e;
  border-radius: 3px;
}

.buttonDiv a, .buttonDiv button {
  /* Your existing styles */
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0; /* Reset margin */
  cursor: pointer; /* Ensure a pointer cursor */
}

/*# sourceMappingURL=styles.css.map */
