@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

:root {
  /* Litir */
  --color-grey: #333;
  --color-font-grey: #2e2e2e;
  --color-font-white: #ffffff;
  /* font */
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

.header {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  height: 110px;
  justify-content: space-between;
  align-items: stretch;
  background-color: #2e2e2e;
  margin-bottom: 50px;
}

.header .header-left a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  text-decoration: none;
  color: white;
}

.header-right {
  padding: 2rem;
}

.header-right .nav {
  justify-content: center;
}

.header-right .nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
}

.header-right .nav-links a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  font-family: var(--font-family-base);
}

/** hér eru öll box en get skipt í fleiri files, bara vildi ekki gera það strax**/
#product-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

#category-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

/** Helvítis Box**/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

/*box-product*/
.box-product img {
  min-width: 100%;
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  object-position: center;
}

.box-product h3 {
  font-family: var(--font-family-heading);
  font-size: 20px;
}

.box-product p {
  font-family: var(--font-family-base);
  margin-bottom: 0.5rem;
}

.box-product p-verd {
  float: right;
  font-family: var(--font-family-base);
  font-size: 24px;
}

.box-product a {
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: var(--font-family-base);
  color: var(--color-font-white);
  background-color: var(--color-grey);
}

.box-product a:hover {
  background-color: #555555;
  color: white;
}

/** box-cat**/
.box-cat {
  border: 1px solid var(--color-grey);
  text-align: center;
  display: grid;
  border-radius: 2px;
}

.box-cat a {
  text-decoration: none;
  padding: 2rem;
  font-size: 30px;
  font-family: var(--font-family-base);
  color: var(--color-font-grey);
}

.box-cat a:hover {
  color: black;
}

.box-cat h2 {
  font-size: 16px;
  color: var(--color-font-grey);
  font-family: var(--font-family-heading);
}

/** Box-product**/
.productBlock {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 75px;
}

.productBlock img {
  min-width: 95%;
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  object-position: center;
}

.productDesc {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  font-family: var(--font-family-base);
}

.productDesc h3 {
  margin: 0;
  font-size: 22px;
  color: #333;
  font-family: var(--font-family-heading);
}

.productTags {
  margin-top: 5px;
  font-size: 16px;
}

.content {
  padding: 2rem;
}

.content h2 {
  font-size: 30px;
  color: var(--color-font-grey);
  padding-bottom: 1.5rem;
}

/** Takki **/
.buttonDiv {
  padding: 2rem 0rem;
}

.buttonDiv a {
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: var(--font-family-base);
  background-color: var(--color-grey);
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .header .header-left a {
    padding: 1rem;
  }

  .header-right {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .header-right .nav-links {
    justify-content: center;
  }

  #product-container,
  #category-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .box-product img,
  .productBlock img {
    max-width: 95%;
    max-height: 350px;
    min-height: 350px;
  }

  .productBlock {
    grid-template-columns: 1fr;
    margin-bottom: 75px;
  }

  .buttonDiv a {
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 675px) {
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .header .header-left a {
    padding: 1rem;
  }

  .header-right {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .header-right .nav-links {
    justify-content: center;
  }

  #product-container,
  #category-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .box-product img,
  .productBlock img {
    max-width: 95%;
    max-height: 300px;
    min-height: 300px;
  }

  .productBlock {
    grid-template-columns: 1fr;
    margin-bottom: 75px;
  }

  .buttonDiv a {
    padding: 10px 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
