/** Takki **/
.buttonDiv {
    padding: 2rem 0rem;
  }
  
  .buttonDiv a {
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: var(--font-family-base);
    background-color: var(--color-grey);
  }